# Server configuration

PORT=3000



# MongoDB connection string

MONGO_URI=your_mongodb_connection_string



# Redis configuration

REDIS_HOST=redis

REDIS_PORT=6379




# Rate limiter algorithm

# Available options:
# fixed
# sliding-log
# sliding-window
# token
# leaky

RATE_LIMIT_ALGORITHM=fixed





# Request limit configuration

RATE_LIMIT_MAX_REQUESTS=10





# Window time in seconds
# Used by:
# fixed window
# sliding log
# sliding window counter

RATE_LIMIT_WINDOW=60





# Token bucket configuration
# Number of tokens added per second

TOKEN_BUCKET_REFILL_RATE=1





# Leaky bucket configuration
# Number of requests removed per second

LEAKY_BUCKET_RATE=1